<div class="container">
  <h2>Add a new restaurant !</h2>
  <hr>
  <div class="form">
    <%= form_for @restaurant do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>

    <div class="form-group">
      <%= f.label :photo_url %>
      <%= f.text_field :photo_url %>
    </div>
      <%= f.submit %>
    <% end %>
  </div>
</div>