<div class="container">
  <h2>Add a new restaurant !</h2>
  <hr>
  <div class="form">
    <%= form_for @restaurant do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :photo_url %>
      <%= f.text_field :photo_url, class: "form-control" %>
    </div>
      <%= f.submit "Ajouter", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>