<div class="container">
<div class="row">
  <div class="col-md-4">
    <div class="pull-right">
      <%= image_tag(@restaurant.photo_url, {size:'300x400', alt: 'photo'})%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
    <h2><%=@restaurant.name%></h2>
    </div>
    <div class="row">
    at <%=@restaurant.city%>
    </div>
  </div>
</div>



<h3><%= @restaurant.reviews.length%> Comments</h3>
  <% @restaurant.reviews.each do |review| %>
  <div class="comment">
    <div class="row">
    Posted on <%=review.created_at.to_formatted_s(:short)%> <%= link_to("Delete review", review, method: 'delete') %>
    </div>
    <div class="row">
      <h4><%=review.body%></h4>
    </div>
  </div>
  <% end %>

<hr>
<div class="row">
  <div class="form">
    <h3>Write a new comment</h3>
    <%= form_for @restaurant.reviews.build do |f| %>
      <div class="form-group">
      </div>
      <div class="form-group">
        <%= f.text_field :body %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :restaurant_id %>
      </div>
      <%= f.submit "Comment" %>
    <% end %>
  </div>
</div>

  <hr>
  <div class="pull-right">
    <%= link_to("Delete restaurant", @restaurant, method: 'delete') %>
  </div>
</div>